{% extends 'django_template_landrick/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6 mt-4 pt-2">
                <img src="{% static 'global_assets/images/integration/interactiondesign-amico.svg' %}"
                     class="img-fluid rounded-md" alt="">
            </div><!--end col-->
            <div class="col-lg-7 col-md-6 mt-4 pt-2">
                <div class="section-title me-lg-5">
                    <h4 class="title mb-4">{{ product_domains_and_dns_01_header }}</h4>
                    <p class="text-muted">{{ product_domains_and_dns_01_content|safe }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-60">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6 mt-4 pt-2 order-1 order-md-2">
                <img src="{% static 'global_assets/images/illustrator/drawkit-grape-pack-illustration-2.svg' %}"
                     class="img-fluid rounded-md" alt="">
            </div><!--end col-->
            <div class="col-lg-7 col-md-6 mt-4 pt-2 order-2 order-md-1">
                <div class="section-title me-lg-5">
                    <h4 class="title mb-4">{{ product_domains_and_dns_02_header }}</h4>
                    <p class="text-muted">{{ product_domains_and_dns_02_content|safe }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-60">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6 mt-4 pt-2">
                <img src="{% static 'global_assets/images/insurance/term-life.svg' %}"
                     class="img-fluid rounded-md" alt="">
            </div><!--end col-->
            <div class="col-lg-7 col-md-6 mt-4 pt-2">
                <div class="section-title me-lg-5">
                    <h4 class="title mb-4">{{ product_domains_and_dns_03_header }}</h4>
                    <p class="text-muted">{{ product_domains_and_dns_03_content|safe }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-60">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6 mt-4 pt-2 order-1 order-md-2">
                <img src="{% static 'global_assets/images/hosting/deal-hend.svg' %}" class="img-fluid rounded-md"
                     alt="">
            </div><!--end col-->
            <div class="col-lg-7 col-md-6 mt-4 pt-2 order-2 order-md-1">
                <div class="section-title me-lg-5">
                    <h4 class="title mb-4">{{ product_domains_and_dns_04_header }}</h4>
                    <p class="text-muted">{{ product_domains_and_dns_04_content|safe }}</p>
                </div>
            </div>
        </div>
    </div>
    {% include 'django_template_landrick/seg_contact_more_info.html' %}
    {% include 'django_template_landrick/seg_faq.html' %}
{% endblock %}
