{% extends 'django_template_landrick/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <form action="{{ request.get_full_path }}" method="post">
        {% csrf_token %}
        <table>
            {{ domain_check_form.as_table }}
        </table>

        <input type="submit" value="Submit">
    </form>
    {% include 'django_template_landrick/seg_contact_more_info.html' %}
    {% include 'django_template_landrick/seg_faq.html' %}
{% endblock %}
